h2 {
	color: blueviolet;
	text-align: center;
}

p {
	text-align: justify;
	border: 2px pink double;
	padding: 25px 15px 45px;
	margin: 30px;
}

body {
	background-color: grey;
	color: lightblue;
}

h2 {
	color: blue;
}

.adalal {
	color: ;
}

#fullName {
	height: 50px;
	width: 100%;
}	